<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Natural Language Processing</title>
</head>

<body>
    <nav>
        <ul>
            <a href="#">
                <li>HOME</li>
            </a>
            <a href="#">
                <li>NAVIGATE</li>
            </a>
        </ul>
    </nav>
    <header>
        <h1>Natural Language Processing</h1>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter vaild URL">
                <input type="submit" name="" value="search" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
        </section>

        <section>
            <h2>Results:</h2>
            <div id='results'></div>
        </section>
    </main>
</body>

</html>