<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css"> -->
    <title>Natural Language Processing</title>
</head>

<body>
    <nav>
        <ul>
            <a href="#">
                <li id="home">HOME</li>
            </a>
            <a href="#">
                <li>NAVIGATE</li>
            </a>
        </ul>
    </nav>

    <main>
        <section>
            <header>
                <h1>Natural Language Processing:</h1>
            </header>
            <div class="formSub">
                <div class="form">
                    <form class="">
                        <label for="name">Enter a valid URL:</label><br>
                        <input id="name" type="text" name="name" value="" placeholder="Enter vaild URL">
                        <br>
                        <button type="submit" id="submit">Search</button>
                    </form>
                </div>
            </div>
        </section>

        <section id='res'>
            <h2>Results:</h2>
            <div id='results'>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </div>
        </section>
    </main>
</body>
<script>
    // // Check that service workers are supported
    // if ('serviceWorker' in navigator) {
    //     // Use the window load event to keep the page load performant
    //     window.addEventListener('load', () => {
    //         navigator.serviceWorker.register('/service-worker.js');
    //     });
    // }
</script>

</html>