$prime-color: #fff;
$sec-color: #fdfda3;
$third-color: #ad32;
$fourth-color: #a23;
nav {
    min-height: 12vh;
}

nav {
    ul {
        color: $fourth-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        padding: 2em;
    }
    li {
        color: $fourth-color;
        padding-right: 3em;
    }
    a {
        text-decoration: none;
    }
}